.container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0.75rem;
    padding: 0.5rem;
    width: 80%;
}
select{
    height: 1.8rem;
    border: none;
    background-color:darkgray;
    border-radius: 0.25rem;
    padding: 5px;

}
.inputLabel{
    padding: 0 0 0.5rem 0;
}