.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    padding: 1.5rem;
}

.title {
    text-align: center;
    font-size: 35px ;
}
.addButton{
    width: 7rem;
    background-color: cadetblue;
    padding: 0.35rem 0.5rem;
    font-size: 0.85rem;
    font-weight: lighter;
    color: white;
    border-radius: 0.5rem;
    margin: 1.95rem auto 0;
    border: None;
    outline: None;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    align-content: flex-end;


}
.addButton:active{
    background-color: #418081;
}

.header{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}