/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

thead th {
    width: 30%;
}
tbody tr:nth-child(odd) {
    background-color: #d7d4d4;
}

th, td {
    padding: 20px;
    text-align: center;
}
.editButton{

    background-color: cadetblue;
    padding: 0.25rem 0.75rem;
    font-size: 0.85rem;
    font-weight: lighter;
    color: white;
    border-radius: 0.5rem;
    margin: auto;
    border: None;
    outline: None;
    cursor: pointer;
    text-decoration: none;


}
.editButton:active{
    background-color: #418081;
}